.about {
  h2 {
    font-family: HussarBold;
    margin: 0 0 1em;
  }
  p {
    font-family: Architect;
    font-weight: bolder;
    margin: 0 0 1em;
  }

  a {
    font-family: Architect;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
    color: #999;

    &:hover {
      color: black;
    }
  }
}