.accordion__section {
  width: 100%;
  border-top: 1px solid #bfc1c3;
}

.accordion__section__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.accordion__section__header__title {
  cursor: pointer;
  font-family: HussarBold;
  font-size: 1.2em;
  background: none;
  border: none;
  line-height: 1em;
  height: 0.9em;

  &:focus {
    outline: none;
  }
}

.accordion__section__header__icon {
  height: 1.2em;
}

.accordion__section__panel {
  padding: 0.5em;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}